/*<---------- Fonts ---------->*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/*---------- Custom Property ----------*/
:root {
    /**
   * colors
   */
    --main-color: #fe5b3d;
    --bs-secondary-color: #ffac38;
    --text-color: #444;
    --black: #130f40;
    --light-color: #666;
    --yellow: #f9d806;
    --pale-purple-pantone: hsl(262, 63%, 92%);
    --medium-sea-green: hsl(152, 63%, 43%);
    --lavender-blush: hsl(336, 35%, 92%);
    --carolina-blue: hsl(204, 91%, 53%);
    --columbia-blue: hsl(204, 92%, 90%);
    --alice-blue-1: hsl(216, 38%, 95%);
    --alice-blue-2: hsl(216, 75%, 97%);
    --alice-blue-3: hsl(216, 38%, 95%);
    --alice-blue-4: hsl(217, 33%, 92%);
    --independence: hsl(219, 21%, 39%);
    --deep-cerise: hsl(329, 63%, 52%);
    --eerie-black: hsl(210, 11%, 15%);
    --space-cadet: hsl(240, 22%, 25%);
    --blue-jeans: hsl(204, 80%, 63%);
    --slate-blue: hsl(262, 60%, 57%);
    --beau-blue: hsl(208, 86%, 92%);
    --honey-dew: hsl(152, 48%, 89%);
    --mimi-pink: hsl(329, 63%, 90%);
    --red-salsa: hsl(0, 79%, 63%);
    --sapphire: hsl(211, 100%, 35%);
    --manatee: hsl(219, 14%, 60%);
    --white: hsl(0, 0%, 100%);
    --gradient: linear-gradient(to top, var(--alice-blue-2), var(--alice-blue-3));
    /**
   * typography
   */
    --ff-nunito: 'Nunito', sans-serif;
    --ff-open-sans: 'Open Sans', sans-serif;
    --fs-1: 2.125rem;
    --fs-2: 1.875rem;
    --fs-3: 1.5rem;
    --fs-4: 1.375rem;
    --fs-5: 1.125rem;
    --fs-6: 0.875rem;
    --fs-7: 0.625rem;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    /**
   * transition
   */
    --transition: 0.5s ease;
    /**
   * spacing
   */
    --section-padding: 50px;
    /**
   * radius
   */
    --radius-10: 10px;
    --radius-14: 14px;
    --radius-18: 18px;
    /**
   * shadow
   */
    --shadow-1: 3px 3px 9px hsla(240, 14%, 69%, 0.2);
    --shadow-2: 3px 3px 9px hsla(204, 92%, 59%, 0.3);
    /**
   *  box shadow
   */
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    /**
   * border
   */
    --border: .1rem solid rgba(0, 0, 0, .1);
}